name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.3, 8.4]
        laravel: [11.*, 12.*]

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          coverage: xdebug

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction

      - name: Run tests
        run: ./vendor/bin/pest

      - name: Run Larastan
        run: ./vendor/bin/phpstan analyse

      - name: Run Pint
        run: ./vendor/bin/pint --test
